[Unit]
Description=remap for razer naga 2014 keys

[Service]
Type=simple
ExecStart=/usr/sbin/razer-naga-2014-key-remap

[Install]
WantedBy=multi-user.target
